# WebScraping IMDB for the Top rated 250 movies

## Information to scrape from the website

- movie title
- rank
- year 
- rating

In [183]:
#Import the necessary libararies for scraping.

from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import openpyxl
import csv

In [3]:
#create a variable and do a request on the url.

source = requests.get('https://www.imdb.com/chart/top/')

In [6]:
#run status_code to make sure the response is successful
#200-299 is the successful range.

source.raise_for_status()
source.status_code

200

In [92]:
#used beautiful soup to parse the html text from website.

soup = BeautifulSoup(source.text, 'html.parser')

In [93]:
#each of the movie details are within these tags.

movies = soup.find('tbody', {'class': "lister-list"}).find_all('tr')

In [94]:
#We can see that 250 movies have been found as shown in the url

len(movies)

250

In [99]:
#time to find the name of the movie
#movie title is in the 'a' tag so we did a '.a' to narrow it down.

name = movie.find('td', {'class': 'titleColumn'}).a
print(name)

<a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>

In [97]:
#to get the text attribute from the tag we did a '.text'.

name = movie.find('td', {'class': 'titleColumn'}).a.text
print(name)

The Shawshank Redemption

In [98]:
#rank is getting movie rank
#.get_text and strip to format it correctly

#rank = movie.find('td', {'class': 'titleColumn'}).get_text(strip=True)
print(rank)

1

In [75]:
#add a .split to separate the 1, .split puts it into a list, so we can now get what we want by using indexes
#index of [0] to get only the number.

rank = movie.find('td', {'class': 'titleColumn'}).get_text(strip=True).split('.')[0]

print(rank)

1

In [53]:
#now to get the year

year = movie.find('td', {'class': 'titleColumn'}).span.text.strip('()')
print(year)

1994

In [58]:
#now for rating
#this time we have to look a little further into the td tag for the rating
#class is a little different from title column.

rating = movie.find('td', {'class': 'ratingColumn imdbRating'}).strong.text
#print(rating)

9.2

In [184]:
#create excel workbook

excel = openpyxl.Workbook()
print(excel.sheetnames)

['Sheet']

In [185]:
#rename excel sheet and make active

sheet = excel.active
sheet.title = 'Top250 movies IMDB'
print(excel.sheetnames)

['Top250 movies IMDB']

In [186]:
#add and name the columns as you want

sheet.append(['Movie Rank', 'Movie Name', 'Year of Release', 'IMDB Rating'])

In [204]:
#Put all the code into a try and except block for any errors

try:
    source = requests.get('https://www.imdb.com/chart/top/')
    source.raise_for_status()
    
    soup = BeautifulSoup(source.text, 'html.parser')
    
    #lister-list has all of the 250 movies in
    #we do a find_all on the 'tr' tag because it has all of the details for EACH movie.
    movies = soup.find('tbody', {'class': "lister-list"}).find_all('tr')
    
    
    #created a loop to loop through the 'td' tag and print out the move title tag
    #movie title tag is 'a', that's why we added '.a' after.
    for movie in movies:
        
        name = movie.find('td', {'class': 'titleColumn'}).a.text
        
        rank = movie.find('td', {'class': 'titleColumn'}).get_text(strip=True).split('.')[0]
        
        year = movie.find('td', {'class': 'titleColumn'}).span.text.strip('()')
        
        rating = movie.find('td', {'class': 'ratingColumn imdbRating'}).strong.text
        
        print(rank, name, year, rating)
        
        #add in the sheet with columns
        sheet.append([rank, name, year, rating])
    
except Exception as e:
    print(e)
    
#save as csv or xlsx
excel.save('IMDB Top 250 movies test.csv')

1 The Shawshank Redemption 1994 9.2
2 The Godfather 1972 9.1
3 The Godfather: Part II 1974 9.0
4 The Dark Knight 2008 9.0
5 12 Angry Men 1957 8.9
6 Schindler's List 1993 8.9
7 The Lord of the Rings: The Return of the King 2003 8.9
8 Pulp Fiction 1994 8.8
9 The Good, the Bad and the Ugly 1966 8.8
10 The Lord of the Rings: The Fellowship of the Ring 2001 8.8
11 Fight Club 1999 8.7
12 Forrest Gump 1994 8.7
13 Inception 2010 8.7
14 The Lord of the Rings: The Two Towers 2002 8.7
15 Star Wars: Episode V - The Empire Strikes Back 1980 8.7
16 The Matrix 1999 8.7
17 Goodfellas 1990 8.6
18 One Flew Over the Cuckoo's Nest 1975 8.6
19 Seven Samurai 1954 8.6
20 Se7en 1995 8.6
21 The Silence of the Lambs 1991 8.6
22 City of God 2002 8.6
23 Life Is Beautiful 1997 8.6
24 It's a Wonderful Life 1946 8.6
25 Saving Private Ryan 1998 8.6
26 Star Wars 1977 8.5
27 Interstellar 2014 8.5
28 Spirited Away 2001 8.5
29 The Green Mile 1999 8.5
30 Spider-Man: No Way Home 2021 8.5
31 Parasite 2019 8.5
32 Léon: The Professional 1994 8.5
33 Hara-Kiri 1962 8.5
34 The Pianist 2002 8.5
35 Terminator 2: Judgment Day 1991 8.5
36 Back to the Future 1985 8.5
37 The Lion King 1994 8.5
38 Psycho 1960 8.5
39 The Usual Suspects 1995 8.5
40 Modern Times 1936 8.5
41 Grave of the Fireflies 1988 8.5
42 American History X 1998 8.5
43 Whiplash 2014 8.5
44 Gladiator 2000 8.5
45 The Departed 2006 8.5
46 City Lights 1931 8.5
47 The Intouchables 2011 8.5
48 The Prestige 2006 8.5
49 Casablanca 1942 8.4
50 Once Upon a Time in the West 1968 8.4
51 Rear Window 1954 8.4
52 Cinema Paradiso 1988 8.4
53 Alien 1979 8.4
54 Apocalypse Now 1979 8.4
55 Memento 2000 8.4
56 Indiana Jones and the Raiders of the Lost Ark 1981 8.4
57 The Great Dictator 1940 8.4
58 Django Unchained 2012 8.4
59 The Lives of Others 2006 8.4
60 Paths of Glory 1957 8.4
61 Sunset Blvd. 1950 8.4
62 WALL·E 2008 8.4
63 Avengers: Infinity War 2018 8.4
64 Spider-Man: Into the Spider-Verse 2018 8.4
65 Witness for the Prosecution 1957 8.4
66 The Shining 1980 8.4
67 Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb 1964 8.4
68 Princess Mononoke 1997 8.3
69 Old Boy 2003 8.3
70 Joker 2019 8.3
71 Your Name. 2016 8.3
72 Coco 2017 8.3
73 The Dark Knight Rises 2012 8.3
74 Aliens 1986 8.3
75 Once Upon a Time in America 1984 8.3
76 Avengers: Endgame 2019 8.3
77 Capernaum 2018 8.3
78 The Boat 1981 8.3
79 High and Low 1963 8.3
80 3 Idiots 2009 8.3
81 Toy Story 1995 8.3
82 Amadeus 1984 8.3
83 American Beauty 1999 8.3
84 Braveheart 1995 8.3
85 Inglourious Basterds 2009 8.3
86 Good Will Hunting 1997 8.3
87 Hamilton 2020 8.3
88 Come and See 1985 8.3
89 Star Wars: Episode VI - Return of the Jedi 1983 8.3
90 2001: A Space Odyssey 1968 8.3
91 Reservoir Dogs 1992 8.3
92 Like Stars on Earth 2007 8.3
93 Vertigo 1958 8.3
94 M 1931 8.3
95 The Hunt 2012 8.3
96 Citizen Kane 1941 8.3
97 Singin' in the Rain 1952 8.3
98 Requiem for a Dream 2000 8.3
99 North by Northwest 1959 8.3
100 Ikiru 1952 8.3
101 Eternal Sunshine of the Spotless Mind 2004 8.3
102 Bicycle Thieves 1948 8.3
103 Lawrence of Arabia 1962 8.2
104 The Kid 1921 8.2
105 Incendies 2010 8.2
106 Full Metal Jacket 1987 8.2
107 Dangal 2016 8.2
108 The Apartment 1960 8.2
109 Double Indemnity 1944 8.2
110 Metropolis 1927 8.2
111 A Clockwork Orange 1971 8.2
112 Taxi Driver 1976 8.2
113 The Father 2020 8.2
114 A Separation 2011 8.2
115 The Sting 1973 8.2
116 Scarface 1983 8.2
117 Snatch 2000 8.2
118 1917 2019 8.2
119 Amélie 2001 8.2
120 To Kill a Mockingbird 1962 8.2
121 Toy Story 3 2010 8.2
122 For a Few Dollars More 1965 8.2
123 Up 2009 8.2
124 Indiana Jones and the Last Crusade 1989 8.2
125 Pather Panchali 1955 8.2
126 Heat 1995 8.2
127 L.A. Confidential 1997 8.2
128 Ran 1985 8.2
129 Die Hard 1988 8.2
130 Yojimbo 1961 8.2
131 Green Book 2018 8.2
132 Downfall 2004 8.2
133 Rashomon 1950 8.2
134 All About Eve 1950 8.2
135 Monty Python and the Holy Grail 1975 8.2
136 Some Like It Hot 1959 8.2
137 Batman Begins 2005 8.2
138 Unforgiven 1992 8.2
139 Children of Heaven 1997 8.2
140 Jai Bhim 2021 8.2
141 The Wolf of Wall Street 2013 8.2
142 Howl's Moving Castle 2004 8.2
143 Judgment at Nuremberg 1961 8.2
144 There Will Be Blood 2007 8.2
145 Casino 1995 8.2
146 The Great Escape 1963 8.2
147 The Treasure of the Sierra Madre 1948 8.2
148 Pan's Labyrinth 2006 8.1
149 A Beautiful Mind 2001 8.1
150 The Secret in Their Eyes 2009 8.1
151 Raging Bull 1980 8.1
152 Chinatown 1974 8.1
153 Shutter Island 2010 8.1
154 My Neighbor Totoro 1988 8.1
155 Lock, Stock and Two Smoking Barrels 1998 8.1
156 No Country for Old Men 2007 8.1
157 Klaus 2019 8.1
158 The Thing 1982 8.1
159 Dial M for Murder 1954 8.1
160 The Gold Rush 1925 8.1
161 Three Billboards Outside Ebbing, Missouri 2017 8.1
162 The Seventh Seal 1957 8.1
163 The Elephant Man 1980 8.1
164 The Sixth Sense 1999 8.1
165 Jurassic Park 1993 8.1
166 The Truman Show 1998 8.1
167 Dersu Uzala 1975 8.1
168 Wild Strawberries 1957 8.1
169 The Third Man 1949 8.1
170 Memories of Murder 2003 8.1
171 V for Vendetta 2005 8.1
172 Blade Runner 1982 8.1
173 Trainspotting 1996 8.1
174 Fargo 1996 8.1
175 The Bridge on the River Kwai 1957 8.1
176 Inside Out 2015 8.1
177 Kill Bill: Vol. 1 2003 8.1
178 Finding Nemo 2003 8.1
179 Warrior 2011 8.1
180 Gone with the Wind 1939 8.1
181 Tokyo Story 1953 8.1
182 On the Waterfront 1954 8.1
183 My Father and My Son 2005 8.1
184 Prisoners 2013 8.1
185 Wild Tales 2014 8.1
186 The Grand Budapest Hotel 2014 8.1
187 Stalker 1979 8.1
188 The Deer Hunter 1978 8.1
189 Gran Torino 2008 8.1
190 The General 1926 8.1
191 Sherlock Jr. 1924 8.1
192 Persona 1966 8.1
193 Before Sunrise 1995 8.1
194 Catch Me If You Can 2002 8.1
195 Mary and Max 2009 8.1
196 Barry Lyndon 1975 8.1
197 Mr. Smith Goes to Washington 1939 8.1
198 In the Name of the Father 1993 8.1
199 Hacksaw Ridge 2016 8.1
200 Gone Girl 2014 8.1
201 Room 2015 8.1
202 Z 1969 8.1
203 Andhadhun 2018 8.1
204 Ford v Ferrari 2019 8.1
205 The Passion of Joan of Arc 1928 8.1
206 12 Years a Slave 2013 8.1
207 Dune 2021 8.1
208 To Be or Not to Be 1942 8.1
209 The Big Lebowski 1998 8.1
210 Dead Poets Society 1989 8.1
211 Harry Potter and the Deathly Hallows: Part 2 2011 8.1
212 Ben-Hur 1959 8.1
213 How to Train Your Dragon 2010 8.1
214 Mad Max: Fury Road 2015 8.1
215 Million Dollar Baby 2004 8.1
216 Autumn Sonata 1978 8.1
217 The Wages of Fear 1953 8.1
218 Stand by Me 1986 8.1
219 Logan 2017 8.1
220 Network 1976 8.1
221 The Handmaiden 2016 8.1
222 Gangs of Wasseypur 2012 8.1
223 La Haine 1995 8.1
224 A Silent Voice: The Movie 2016 8.1
225 Hachi: A Dog's Tale 2009 8.0
226 Cool Hand Luke 1967 8.0
227 The 400 Blows 1959 8.0
228 Platoon 1986 8.0
229 Spotlight 2015 8.0
230 Monsters, Inc. 2001 8.0
231 Rebecca 1940 8.0
232 In the Mood for Love 2000 8.0
233 Life of Brian 1979 8.0
234 The Bandit 1996 8.0
235 Hotel Rwanda 2004 8.0
236 Rush 2013 8.0
237 Rocky 1976 8.0
238 Demon Slayer the Movie: Mugen Train 2020 8.0
239 Amores perros 2000 8.0
240 Into the Wild 2007 8.0
241 Nausicaä of the Valley of the Wind 1984 8.0
242 Before Sunset 2004 8.0
243 Drishyam 2013 8.0
244 It Happened One Night 1934 8.0
245 Andrei Rublev 1966 8.0
246 Miracle in Cell No. 7 2019 8.0
247 Fanny and Alexander 1982 8.0
248 Hera Pheri 2000 8.0
249 Nights of Cabiria 1957 8.0
250 The Battle of Algiers 1966 8.0

In [205]:
#imported excel file into a Dataframe.

movie_df = pd.read_csv(r'.\IMDB Top 250 movies.csv')

In [206]:
movie_df

     Movie Rank                Movie Name  Year of Release  IMDB Rating
0             1  The Shawshank Redemption             1994          9.2
1             2             The Godfather             1972          9.1
2             3    The Godfather: Part II             1974          9.0
3             4           The Dark Knight             2008          9.0
4             5              12 Angry Men             1957          8.9
..          ...                       ...              ...          ...
245         246     Miracle in Cell No. 7             2019          8.0
246         247       Fanny and Alexander             1982          8.0
247         248                Hera Pheri             2000          8.0
248         249         Nights of Cabiria             1957          8.0
249         250     The Battle of Algiers             1966          8.0

[250 rows x 4 columns]